.Root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 14px;

  border: none;
  background: none;
  user-select: none;
  border-radius: var(--const-spacer-lvl_1, 8px);
  cursor: pointer;

  &:hover {
    background: var(--darktheme-Gray-scale-Gray-2, #313e62);
  }
}
