$hover-background: var(--darktheme-Gray-scale-Gray-2, #313e62);

.Root {
  display: inline-flex;
  gap: 4px;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 14px;

  border: none;
  background: none;
  user-select: none;
  border-radius: var(--const-spacer-lvl_1, 8px);
  cursor: pointer;

  &_NumberButton {
    &_selected {
      background: var(--darktheme-Accent-Primary, #1c64f2);
    }

    &:hover:not(:disabled) {
      background: $hover-background;
    }
  }

  &_ArrowButton {
    padding: 6px 10px;

    &:hover {
      background: $hover-background;
    }
  }
}

.Dots {
  display: inline-flex;
  padding: 6px 14px;
  user-select: none;
}
