:root {
  /*
    Colors
  */
  --Base-Weak: #fff;
  --darktheme-base-black: #0e0c15;
  --darktheme-Gray-scale-Gray-1: #616d8d;
  --darktheme-Gray-scale-Gray-3: #222b44;
  --darktheme-Gray-scale-Gray-4: #121825;

  /*
    Sizes
  */
  --desktop-spacer-lvl_1: 16px;
  --const-spacer-lvl_1: 8px;
}
