$transition: linear 0.2s;

.Root {
  position: relative;
}

.Backdrop {
  display: flex;

  position: fixed;
  top: 0;

  height: 100%;
  width: 100%;

  cursor: pointer;
  visibility: hidden;

  &_open {
    visibility: visible;
    background: #000;
    opacity: 0.6;
  }

  transition: $transition;
}

.Sidebar {
  display: flex;

  position: fixed;
  top: 0;
  right: 0;

  height: 100%;

  background: var(--darktheme-Gray-scale-Gray-4, #121825);
  transform: translate(100%);

  &_open {
    transform: translate(0);
  }

  transition: $transition;
}
