.Root {
  display: flex;
  flex-direction: column;
}

.Main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.Content {
  display: flex;
  flex-direction: column;
}

.HeaderRow {
  display: flex;

  border-radius: var(--const-spacer-lvl_1, 8px);
  background: var(--darktheme-base-black, #0e0c15);
}

.HeaderCell {
  display: flex;
  padding: 14px var(--desktop-spacer-lvl_2, 20px);
  justify-content: center;
  align-items: center;
  gap: var(--mobile-spacer-lvl_1, 10px);
  flex: 1 0 0;
}

.HeaderCellSortButton {
  display: inline-flex;

  border: none;
  background: none;
  cursor: pointer;
}

.HeaderCellContent {
  color: var(--darktheme-Gray-scale-Gray-6, #9ca3af);
}

.ContentRow {
  display: flex;
  border-bottom: 1px solid var(--darktheme-Gray-scale-Gray-3, #222b44);
}

.ContentCell {
  display: flex;
  height: 64px;
  padding: 14px var(--desktop-spacer-lvl_2, 20px);
  justify-content: center;
  align-items: center;
  gap: var(--mobile-spacer-lvl_1, 10px);
  flex: 1 0 0;

  &_clickable {
    cursor: pointer;
  }
}

.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
