.Root {
  display: flex;
  flex-direction: column;
}

.Content {
  display: flex;
  flex-direction: column;

  & > :not(:last-child) {
    border-bottom: 1px solid var(--darktheme-Gray-scale-Gray-3, #222b44);
  }
}

.HeaderRow {
  display: flex;

  border-radius: var(--const-spacer-lvl_1, 8px);
  background: var(--darktheme-base-black, #0e0c15);
}

.HeaderCell {
  display: flex;
  padding: 14px var(--desktop-spacer-lvl_2, 20px);
  justify-content: center;
  align-items: center;
  gap: var(--mobile-spacer-lvl_1, 10px);
  flex: 1 0 0;
}

.HeaderCellContent {
  color: var(--darktheme-Gray-scale-Gray-6, #9ca3af);
}

.ContentRow {
  display: flex;
}

.ContentCell {
  display: flex;
  height: 64px;
  padding: 14px var(--desktop-spacer-lvl_2, 20px);
  justify-content: center;
  align-items: center;
  gap: var(--mobile-spacer-lvl_1, 10px);
  flex: 1 0 0;
}
